@for (data of (seriesData | async) ?? []; track data) {
  @if (data.requestComplete) {
    <lib-date-slider class="sliders" [portalSettings]="portalSettings"
      [dates]="data.sliderDates" [freq]="data.seriesDetail.frequencyShort" [routeStart]="startDate"
    [routeEnd]="endDate"></lib-date-slider>
  }
  @if (!data.noData && data.requestComplete) {
    <lib-highstock [portalSettings]="portalSettings"
    [chartData]="data.chartData" [seriesDetail]="data.seriesDetail" [showTitle]="true"></lib-highstock>
  }
}
<!-- <ng-template ngFor let-data [ngForOf]="analyzerData | async"> -->
@if (analyzerData().requestComplete) {
  <lib-date-slider class="sliders" [portalSettings]="portalSettings"
    [dates]="analyzerData().sliderDates" [routeStart]="startDate" [routeEnd]="endDate"
  [freq]="analyzerData().analyzerFrequency.freq"></lib-date-slider>
}
<div class="analyzer-view">
  @if (analyzerData().analyzerSeries.length) {
    <lib-analyzer-highstock [portalSettings]="portalSettings"
      [series]="analyzerData().analyzerSeries" [dates]="analyzerData().sliderDates" [indexChecked]="analyzerService.indexed()">
    </lib-analyzer-highstock>
  }
</div>
<!-- </ng-template> -->