<div class="multi-series-container">
	<ng-template ngFor let-data [ngForOf]="categoryData | async">
		<h2 *ngIf="data.requestComplete && !data.invalid" class="selected-category" [class.search-term]="isSearch"
			id="id_top">
			{{data.selectedCategory.name}}</h2><i (click)="showHelp()" class="bi bi-question-circle display-help-icon"></i>
		<ng-template ngIf [ngIf]="data.invalid">
			<p>{{data.invalid}}</p>
		</ng-template>
		<div *ngIf="!data.requestComplete && !data.invalid" class="d-flex justify-content-center">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
		<ng-template ngIf [ngIf]="data.requestComplete && !data.invalid && !isSearch">
			<ng-template ngIf [ngIf]="portal.categoryTabs && data.subcategories?.length > 1">
				<ul class="content-links">
					<li *ngFor="let sub of data.subcategories; let subInd='index'">
						<a (click)="navToFirstDataList(sub)"
							[class.current-sub]="sub.id === data.selectedDataList.id">{{sub.name}}</a>
					</li>
				</ul>
				<hr class="sublist-separator">
			</ng-template>
			<ng-template ngIf [ngIf]="!portal.categoryTabs">
				<h3 class="selected-data-list" [class.search-term]="isSearch">
					{{data.selectedDataList.dataListName}}</h3>
			</ng-template>
			<div class="filters">
				<lib-geo-selector *ngIf="portal.universe !== 'nta'" [regions]="data.regions"
					(selectedGeoChange)="redrawSeriesGeo($event, selectedFreq, selectedFc)" class="selector">
				</lib-geo-selector>
				<lib-freq-selector *ngIf="portal.universe !== 'nta'" [freqs]="data.frequencies"
					(selectedFreqChange)="redrawSeriesFreq($event, selectedFreq, selectedGeo, selectedFc)" class="selector">
				</lib-freq-selector>
				<lib-forecast-selector *ngIf="portalSettings.selectors.includes('forecast')" [forecasts]="data.forecasts"
					(selectedFcChange)="redrawSeriesFc($event, selectedGeo, selectedFreq)" class="selector">
				</lib-forecast-selector>
				<lib-measurement-selector *ngIf="data.measurements" [measurements]="data.measurements"
					[selectedMeasurement]="data.currentMeasurement" (selectedMeasurementChange)="redrawSeriesMeasurements($event)"
					class="selector">
				</lib-measurement-selector>
				<a (click)="switchView()" class="btn btn-sm switch-view">{{view === 'table' ? 'Chart View' : 'Table View'}}
					<i class="bi" [class.bi-graph-up]="view === 'table'"
						[class.bi-table]="view === 'chart' || !view"></i>
				</a>
				<label *ngIf="portal.universe === 'nta' && view === 'table'" class="form-check-inline">
					<input type="checkbox" [checked]="c5ma === 'true'" (change)="c5maActive($event)">Annual
					Change
				</label>
				<label *ngIf="portal.universe !== 'nta' && view === 'table'" class="me-2 form-check-inline">
					<input type="checkbox" [checked]="yoy === 'true'" (change)="yoyActive($event)">Year/Year
				</label>
				<label *ngIf="portal.universe !== 'nta' && view === 'table' && selectedFreq?.freq !== 'A'"
					class="me-2 form-check-inline">
					<input type="checkbox" [checked]="ytd === 'true'" (change)="ytdActive($event)">Year-to-Date
				</label>
				<label *ngIf="data.hasSeasonal" class="form-check-inline">
					<input type="checkbox" name="seasonal_toggle" [checked]="sa === 'true'"
						(change)="toggleSASeries($event)">Seasonally Adjusted
				</label>
				<lib-date-slider *ngIf="data.displayedMeasurements && data.displayDateSlider" class="sliders" [portalSettings]="portalSettings"
					[dates]="data.categoryDates" [previousFreq]="previousFreq" [freq]="selectedFreq?.freq || data.currentFreq.freq" [routeStart]="start"
					[routeEnd]="end" (updateRange)="changeRange($event)"></lib-date-slider>
			</div>
		</ng-template>
		<ng-template ngIf [ngIf]="data.requestComplete && !data.noData && !isSearch">
			<lib-category-table-view *ngIf="view === 'table'" [portalSettings]="portalSettings"
				[measurementOrder]="data.measurementOrder" [displayedMeasurements]="data.displayedMeasurements"
				[dates]="data.categoryDates" [selectedCategory]="data.selectedCategory"
				[selectedDataList]="data.selectedDataList" [yoyActive]="yoy === 'true'"
				[ytdActive]="ytd === 'true'" [noSeries]="data.noData" [params]="queryParams"
				[c5maActive]="c5ma === 'true'" [showSeasonal]="sa === 'true'"
				[hasSeasonal]="data.hasSeasonal">
			</lib-category-table-view>
			<lib-category-charts *ngIf="view !== 'table'" [portalSettings]="portalSettings"
				[displayedMeasurements]="data.displayedMeasurements" [measurementOrder]="data.measurementOrder"
				[dates]="data.categoryDates" [freq]="selectedFreq?.freq || data.currentFreq.freq" [noSeries]="data.noData"
				[showSeasonal]="sa === 'true'" [findMinMax]="data.findMinMax" [hasSeasonal]="data.hasSeasonal"
				[analyzerView]="false" (updateURLFragment)="updateRoute()">
			</lib-category-charts>
		</ng-template>
		<ng-template ngIf [ngIf]="data.requestComplete && data.noData && !isSearch">
			<p class="no-data">No data available for current selection.</p>
		</ng-template>
		<ng-template ngIf [ngIf]="data.requestComplete && !data.noData && isSearch">
			<lib-search-results [searchData]="data"></lib-search-results>
		</ng-template>
	</ng-template>
</div>