<div class="analyzer-view col-xs-12 col-xl-11" [class.d-flex]="seriesInAnalyzer.length"
  [class.flex-wrap]="seriesInAnalyzer.length">
  <div>
    <h2 id="analyzer-header">Analyzer</h2><i (click)="showHelp()" class="bi bi-question-circle display-help-icon"></i>
  </div>
  @if (seriesInAnalyzer.length && analyzerData().requestComplete) {
  <div id="view-toggle-share" class="ms-2">
    <button type="button" class="btn btn-sm btn-outline-primary compare-btn" (click)="toggleAnalyzerDisplay()">
      <span><i class="bi" [class.bi-grid-3x3-gap-fill]="displayCompare"
          [class.bi-bar-chart-fill]="!displayCompare"></i>{{displayCompare ? ' Gallery View' : ' Compare'}}</span>
    </button>
    <lib-share-link [view]="'analyzer'" [routeStart]="routeStart" [routeEnd]="routeEnd" [yoy]="tableYoy"
      [ytd]="tableYtd" [c5ma]="tableC5ma" [displayCompare]="displayCompare"
      [analyzerParams]="analyzerService.analyzerParams()"></lib-share-link>
  </div>
  <div id="analyzer-customizations">
    <lib-freq-selector [freqs]="analyzerData().siblingFreqs" [analyzerView]="true"
      (selectedFreqChange)="changeAnalyzerFrequency($event.freq, analyzerData().analyzerFrequency.freq, analyzerData().analyzerSeries)"
      class="selector">
    </lib-freq-selector>
    <lib-geo-selector [regions]="analyzerData().siblingGeos" [analyzerView]="true"
        (selectedGeoChange)="changeAnalyzerGeography($event, analyzerData().analyzerGeography.handle, analyzerData().analyzerSeries, analyzerData().analyzerFrequency.freq)"
        class="selector">
      </lib-geo-selector>
    @if (analyzerData().displayFreqSelector) {
    <label class="mx-2 form-check-inline">
      <input type="checkbox" (change)="indexActive($event)"
        [attr.title]="!analyzerData().displayFreqSelector ? 'Unavailable for mixed frequencies' : ''"
        [checked]="analyzerService.indexed()" [disabled]="!analyzerData().displayFreqSelector">Index
    </label>
    }
    <lib-date-slider class="sliders" [portalSettings]="portalSettings" [dates]="analyzerData().sliderDates"
      [previousFreq]="previousFreq" [routeStart]="routeStart" [routeEnd]="routeEnd"
      [freq]="analyzerData()?.analyzerFrequency?.freq" (updateRange)="changeRange($event)"></lib-date-slider>
    <button type="button" class="btn btn-sm btn-outline-danger rm-analyzer-series-btn"
      (click)="removeAllAnalyzerSeries()">
      Remove All Series
    </button>
  </div>
  <div class="w-100">
    @if (!displayCompare) {
    <lib-category-charts [portalSettings]="portalSettings"
      [displayedMeasurements]="analyzerData()?.analyzerMeasurements" [dates]="analyzerData()?.sliderDates"
      [freq]="analyzerData()?.analyzerFrequency?.freq" [analyzerView]="true" [indexChecked]="analyzerService.indexed()"
      [indexBaseYear]="analyzerService.baseYear()">
    </lib-category-charts>
    }
    @if (displayCompare && analyzerData().analyzerSeries.length) {
    <lib-analyzer-highstock [portalSettings]="portalSettings" [series]="analyzerData().analyzerSeries"
      [dates]="analyzerData().sliderDates" [indexChecked]="analyzerService.indexed()"
      (tableExtremes)="changeRange($event)" (xAxisExtremes)="changeRange($event)"
      (updateUrl)="updateUrlLocation($event)">
    </lib-analyzer-highstock>
    }
    @if (analyzerData()?.analyzerSeries?.length) {
    <lib-analyzer-table [dates]="analyzerData()?.sliderDates" [yoyChecked]="tableYoy" [ytdChecked]="tableYtd"
      [c5maChecked]="tableC5ma" [momChecked]="tableMom" [indexChecked]="analyzerService.indexed()"
      [series]="analyzerData()?.analyzerSeries" [freq]="analyzerData()?.analyzerFrequency?.freq"
      [indexBaseYear]="analyzerService.baseYear()" (tableTransform)="checkTransforms($event)">
    </lib-analyzer-table>
    }
  </div>
  }
  @if (analyzerService.analyzerSeriesStore().length && !analyzerData().requestComplete) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
  @if (displaySelectionNA) {
  <p id="no-data-msg">Selection not available.</p>
  }
</div>