.multi-charts-row {
  /* display: block;
  margin-bottom: 40px; */
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;

  ul.available-geos, ul.available-freqs {
    li {
      font-size: 0.9em;
    }
  }
}

.multi-charts {
  flex: 0 0 20%;
  display: inline-block;
  padding: 0 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px 10px 10px 3px;
  background: #FAFAFB;
  height: 200px;
  min-width: 200px;

  &.seasonal-alert-container {
    background: #E8E8E8;

    a {
      display: flex;
      flex-wrap: wrap;
      text-decoration: none;
      width: 100%;
      height: 100%;
      font-size: 0.75em;

      span.series-name {
        font-weight: bold;
      }

      p.seasonal-alert-text {
        text-align: center;
      }
    }
  }

  a {
    color: #000;
  }

  a:hover {
    text-decoration: none;
  }

  button.analyzer-dropdown {
    padding: 0;
  }
    
  .analyzer-toggle {
    color: #505050;
    cursor: pointer;
    position: relative;
    top: -25px;
    vertical-align: middle;
    left: 10px;
    font-size: 0.8em;
  }

  .add-analyze-button, .add-compare-button {
    text-shadow: 1px 2px 6px #E5E5E5, 0 0 0 #000, 1px 2px 6px #E5E5E5;

    &:hover::after {
      color: #505050;
      content: ' Add to Analyzer';
      font-family: 'Lucida Sans', sans-serif;
      font-size: 1em;
      font-style: normal;
      font-weight: bold;
      text-shadow: none;
    }
  }

  .add-compare-button {
    &:hover::after {
      content: ' Add to Comparison';
    }
  }

  .remove-analyze-button, .remove-compare-button {
    color: #505050;

    &:hover::after {
      color: #505050;
      content: ' Remove from Analyzer';
      font-weight: bold;
      font-size: 1em;
      font-style: normal;
      font-family: 'Lucida Sans', sans-serif;
      text-shadow: none;
    }
  }

  .remove-compare-button {
    &:hover::after {
      content: ' Remove from Comparison';
    }
  }
}