<!-- <div class="series-table">
  <p-table styleClass="p-datatable-striped" [columns]="tableHeaders" [value]="tableData">
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col) {
          <th [pSortableColumn]="col.field"
            [pSortableColumnDisabled]="col.field !== 'tableDate'">
            {{col.header}}
            @if (col.field === 'tableDate') {
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            }
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col) {
          <td>
            {{rowData[col.field]}}
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div> -->

<div class="series-table">
  <table mat-table
         matSort
         [dataSource]="dataSource"
         class="mat-elevation-z0 striped-table single-series-table">

    @for (col of tableHeaders; track col.field) {
      <ng-container [matColumnDef]="col.field">
        @if (col.field === 'tableDate') {
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.header }}</th>
        } @else {
          <th mat-header-cell *matHeaderCellDef>{{ col.header }}</th>
        }
        <td mat-cell *matCellDef="let row">{{ row[col.field] }}</td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>