<div *ngFor="let data of seriesData | async" class="single-series-view col-xs-12 col-sm-12 col-xl-11">
  <ng-template ngIf [ngIf]="!data.requestComplete">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
  <ng-template ngIf [ngIf]="data.requestComplete">
    <p *ngIf="data.error">Series does not exist.</p>
    <div *ngIf="!data.error">
      <h3 class="series-title">{{data.seriesDetail.title}}</h3><i (click)="showHelp()"
        class="bi bi-question-circle display-help-icon"></i>
      <div class="filters">
        <lib-geo-selector *ngIf="data.regions?.length" [regions]="data.regions"
          (selectedGeoChange)="goToSeries(data.siblings, selectedFreq.freq, $event.handle, seasonallyAdjusted)"
          class="geo-selector"></lib-geo-selector>
        <lib-freq-selector *ngIf="portal !== 'nta' && data.frequencies?.length" [freqs]="data.frequencies"
          (selectedFreqChange)="goToSeries(data.siblings, $event.freq, selectedGeo.handle, seasonallyAdjusted)"
          class="freq-selector"></lib-freq-selector>
        <lib-forecast-selector *ngIf="displayFcSelector" [forecasts]="data.forecastList"
          (selectedFcChange)="updateSelectedForecast(data.siblings, selectedGeo.handle, seasonallyAdjusted, data.forecasts, $event)"
          class="selector"></lib-forecast-selector>
        <lib-share-link [view]="'series'" [seasonallyAdjusted]="seasonallyAdjusted"
          [startDate]="selectedDateRange.startDate" [endDate]="selectedDateRange.endDate"
          [seriesId]="data.seriesDetail.id"></lib-share-link>
        <div class="form-check" *ngIf="data.saPairAvail">
          <label class="form-check-inline">
            <input type="checkbox" [ngModel]="data.seriesDetail.seasonalAdjustment === 'seasonally_adjusted'"
              (ngModelChange)="goToSeries(data.siblings, selectedFreq.freq, selectedGeo.handle, $event)">Seasonally
            Adjusted
          </label>
        </div>
        <lib-date-slider *ngIf="data.requestComplete && data.sliderDates?.length" class="sliders" [portalSettings]="portalSettings"
          [dates]="data.sliderDates" [previousFreq]="previousFreq" [freq]="data.seriesDetail.frequencyShort" [routeStart]="routeStart"
          [routeEnd]="routeEnd" (updateRange)="changeRange($event)"></lib-date-slider>
      </div>
      <p *ngIf="noSelection">{{noSelection}}</p>
      <p *ngIf="data.noData">{{data.noData}}</p>
      <lib-highstock *ngIf="!noSelection && !data.noData" [portalSettings]="portalSettings" [chartData]="data.chartData"
        [seriesDetail]="data.seriesDetail" (xAxisExtremes)="changeRange($event)">
      </lib-highstock>
      <div class="source" *ngIf="data.seriesDetail.sourceDescription || data.seriesDetail.sourceLink">
        {{data.seriesDetail.sourceDescription}}<br><a href="{{data.seriesDetail.sourceLink}}"
          target="_blank">{{data.seriesDetail.sourceLink}}</a>
        <p innerHTML='{{data.seriesDetail.sourceDetails}}' class="source_detail"></p>
      </div>
      <lib-summary-statistics *ngIf="data.requestComplete && !data.noData" [seriesData]="data"></lib-summary-statistics>
      <lib-single-series-table *ngIf="!noSelection && !data.noData && data.requestComplete"
        [seriesData]="data"></lib-single-series-table>
    </div>

  </ng-template>
</div>