<header id="header" class="navbar navbar-fixed-top navbar-light">
  @if (uheroLogo) {
    <div>
      <a id="uhero-link" href="https://uhero.hawaii.edu">
        @if (headerLogo.displayImg) {
          <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText">
        }
      </a>
      <a id="data-portal-link" routerLink="/">
        @if (headerLogo.displayImg) {
          <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText">
        }
      </a>
    </div>
  }
  @if (!uheroLogo) {
    <a class="navbar-brand" id="uhero-header" routerLink="/">
      @if (headerLogo.displayImg) {
        <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText">
      }
      <p>{{headerLogo.headerText}}</p>
    </a>
  }
  <div class="d-flex align-items-center mr-4">
    <lib-search-bar (search)="onSearch($event)"></lib-search-bar>
  </div>
</header>