<nav id="sidebar-nav" class="navbar navbar-fixed-top navbar-light">
  <div>
    <button class="mobile-nav-toggle" (click)="mobileMenuToggle()" id="navbarSideButton" class="hidden-md-up"
      type="button" data-toggle="collapse" aria-controls="navbar-side" aria-expanded="false"
      aria-label="Toggle Category Menu">
      &#9776;
    </button>
    @if (uheroLogo) {
    <div>
      <a class="navbar-brand" id="uhero-link" href="https://uhero.hawaii.edu">
        @if (headerLogo.mobileLogo) {
        <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText">
        }
      </a>
      <a class="navbar-brand" id="data-portal-link" routerLink="/">
        @if (headerLogo.mobileLogo) {
        <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText">
        }
      </a>
    </div>
    }
    @if (!uheroLogo) {
    <a class="navbar-brand" id="uhero-header" routerLink="/">
      @if (headerLogo.mobileLogo) {
      <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText">
      }
      @if (!headerLogo.mobileLogo) {
      <p>{{headerLogo.headerText}}</p>
      }
    </a>
    }
  </div>
  <div id="navbar-side" class="navbar-side" [class.reveal]="reveal">
    @if (headerLogo.displayImg) {
    <img [src]="headerLogo.imgSrc" [alt]="headerLogo.altText" class="mobile-logo">
    }
    <lib-search-bar (search)="onSearch($event)"></lib-search-bar>

    <mat-tree #tree="matTree" [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="nav-tree">
      <mat-tree-node *matTreeNodeDef="let node">
        <a [routerLink]="node.routerLink" [queryParams]="node.queryParams" queryParamsHandling="merge"
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="menuClickHandler()">
          {{ node.label }}
        </a>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [isExpandable]="true">
        <div class="tree-node-row" [class.expanded]="tree.isExpanded(node)" (click)="tree.toggle(node)">
          <button mat-icon-button [attr.aria-label]="'Toggle ' + node.label">
            <mat-icon>{{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
          <span class="tree-node-label">{{ node.label }}</span>
        </div>
      </mat-tree-node>
    </mat-tree>

    <a class="list-item" [class.selectedCategory]="selectedCategory === 'analyzer'" routerLink="/analyzer">&nbsp;
      Analyzer ({{analyzerService.analyzerSeriesStore().length}})</a>
    @if (portalSettings.otherDashboardLinks && portalSettings.otherDashboardLinks.length) {
    <hr />
    }
    @for (dashboard of portalSettings.otherDashboardLinks; track dashboard) {
    @if (dashboard.name) {
    <a class="list-item" [attr.href]="dashboard.url">{{dashboard.name}}</a>
    }
    }
    @if (headerLogo.analyticsLogoSrc) {
    <span>
      <p id="built-by">Built By</p>
      <a href="https://uhero.hawaii.edu/uhero-analytics/"><img class="analytics-logo"
          [src]="headerLogo.analyticsLogoSrc" [alt]="headerLogo.altText"></a>
    </span>
    }
  </div>
  <div [class.overlay]="overlay" (click)="mobileMenuToggle()"></div>
</nav>